.about {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 25px;
    font-size: 26px;
  }

  &__text {
    margin-left: auto;
  }

  &__title,
  &__text {
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    font-size: 26px;
    color: #fff;
    background-color: var(--light-green);
  }
}