.about {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 25px;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    // animation: Move 1s;
  }

  &__text {
    margin-left: auto;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    // animation: Move1 2s;

  }

  &__title,
  &__text {
    border: 3px solid currentcolor;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 15px 15px 33px 0 rgb(0 0 0 / 100%);
    font-size: 26px;
    color: #fff;
    background-color: var(--light-green);
  }
}

// @keyframes Move {

//   from {
//     scale: 0;
//     transform: rotate3d(1, 1, 1, 0deg);
//   }

//   to {
//     scale: 1;
//     transform: rotate3d(-2, 0, 0, 360deg);
//   }

// }

// @keyframes Move1 {

//   0% {
//     scale: 0;
//     transform: rotate3d(1, 1, 1, 0deg);
//   }

//   50% {
//     scale: 0;
//     transform: rotate3d(1, 1, 1, 0deg);
//   }

//   100% {
//     scale: 1;
//     transform: rotate3d(-2, 0, 0, 360deg);
//   }

// }