/* Header */
.large-header {
  position: fixed;
  z-index: -10;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #333;
  background-position: center center;
  background-size: cover;
}

#large-header {
  background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
}

.main-title {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #f9f1e9;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title {
  font-size: 4.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}