.footer {
  font-size: 18px;
  color: #fff;

  .footer__top {
    padding: 10px;
    background-color: var(--light-green);
  }

  .footer__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 240px;
    gap: 30px;
  }

  .footer__address {
    padding-top: 15px;
    max-width: 200px;
  }

  .footer__title {
    margin-bottom: 25px;
    font-size: 20px;
  }

  .footer__phone {
    margin-bottom: 10px;
  }

  .footer__phone,
  .footer__email {
    display: inline-block;
    border-radius: 9px;
    padding: 7px 10px;
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: var(--dark-green);
        background-color: var(--white);
      }
    }

    @media (hover: none) {
      &:active {
        color: var(--dark-green);
        background-color: var(--white);
      }
    }
  }

  .day {
    display: block;
    float: left;
    width: 50%;
    height: auto;
  }

  .time {
    display: block;
    float: left;
    width: 50%;
    height: auto;
  }

  .footer__bottom {
    background-color: var(--dark-green);
  }

  .footer__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    min-height: 50px;
  }

  .copyright {
    margin-bottom: 0;
  }

  .copyright a {
    color: #fff;
  }

  @extend %Inter-400;
}

@media (max-width: 775px) {
  .footer {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .footer__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}