.header {
    padding-top: 80px;

}


.header__top {
    position: fixed;
    width: 100%;
    background-color: var(--dark-green);
    min-height: 80px;
    top: 0;
    font-size: 17px;
    z-index: 10;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 11%;
        min-height: 80px;
    }

}


.menu__btn {
    display: none;
}


.menu-list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    height: 100%;
}

.menu-item a {
    @extend %Inter-400;
    padding: 7px 10px;
    font-size: inherit;
    color: var(--white);
    border-radius: 9px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;

    @media(hover: hover) {
        &:hover {
            background-color: var(--white);
            color: var(--dark-green);
        }
    }

    @media(hover: none) {
        &:active {
            background-color: var(--white);
            color: var(--dark-green);
        }
    }
}

.header__contact {
    display: flex;
    align-items: center;
    padding-left: 40px;

    a {
        position: relative;
        cursor: pointer;
        color: var(--white);
        @extend %Inter-400;
        font-size: inherit;
        border-radius: 9px;
        padding: 5px 10px;
        transition: background-color .5s ease-in-out, color .5s ease-in-out;

        &::before {
            content: '';
            background-image: url('../img/svg/phone.svg');
            background-repeat: no-repeat;
            background-size: 31px 31px;
            position: absolute;
            width: 31px;
            height: 31px;
            left: -40px;
        }

        @media(hover: hover) {
            &:hover {
                background-color: var(--white);
                color: var(--dark-green);
            }
        }

        @media(hover: none) {
            &:active {
                background-color: var(--white);
                color: var(--dark-green);
            }
        }

    }
}

.header__bottom {
    background-color: var(--light-green);

    &-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 30px;
    }
}

.header__bottom-text {
    padding-top: 52px;
    color: var(--white);
    flex-shrink: 0;
}

.header__bottom-title {
    margin-bottom: 22px;
    @extend %Asap-400;
    font-size: clamp(1.56rem, 1.3318rem + 0.9735vw, 2.5rem);
}

.header__bottom-sumtitle {
    @extend %Inter-500;
    font-size: 20px;
}

.header__bottom-decor {
    flex-shrink: 0;
}

.image {}

@media(max-width: 1595px) {
    .header__top {
        width: 100%;
    }
}

@media(max-width: 1300px) {

    .header__top-wrapper {
        padding-left: 20px;
        padding-right: 40px;
        font-size: 15px;
    }

    .menu-list {
        gap: 10px;
    }

}

@media(max-width: 900px) {

    .header__top-wrapper {
        padding-right: 80px;
    }

    .menu__btn {

        display: block;
        // @include burger;
        right: 36px;
        top: 23px;
    }


    .menu-list {
        transform: translateY(-200%);
        position: fixed;
        flex-direction: column;
        height: auto;
        // background-color: var(--light-green);
        background-color: #6c8346;
        width: calc(100%);
        top: 80px;
        left: 0;
        padding: 20px;
        gap: 25px;
        transition: transform .5s ease-in-out;
    }

    .menu-list.menu--active {
        transform: translateY(0%);
    }


}

@media(max-width: 576px) {
    .header__contact {
        height: 40px;

        a {
            font-size: 0;
            width: 0;
            padding: 0;

            &::before {
                left: -50px;
                top: 4px;
            }
        }
    }

    .header__bottom-wrapper {
        padding: 0 10px;
    }

    .header__bottom-decor {
        flex-shrink: 1;
    }

    .header__bottom-text {
        flex-shrink: 1;
        padding-top: 15px;
    }

    .header__bottom-title {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .header__bottom-sumtitle {
        font-size: 17px;
    }
}