.services {}

.services__list {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
}

.services__title {
    margin-bottom: 80px;
    font-size: 36px;
    // @extend %Asap-600;
}

.services__item {
    margin-bottom: 110px;
}