<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__top-wrapper">
        <div class="footer__info">
          <a class="logo" href="index.html">
            <img src="/img/logo.png" alt="logo">
          </a>
          <address>
            <p class="footer__address">Žerotice 139
              <br>
              671 34
            </p>
          </address>
        </div>
        <div class="footer__contact">
          <h3 class="footer__title">
            Kontakt a objednávky
          </h3>
          <a class="footer__phone" href="tel:+420773234399">Tel:773 234 399</a>
          <br>
          <a class="footer__email" href="email:masazaazkvam@gmail.com">E-mail:masazaazkvam@gmail.com</a>
        </div>

        <div class="footer__opening-hours">
          <h3 class="footer__title">
            Otevírací doba
          </h3>
          <p class="opening-hours">
            <span class="day">pondělí – neděle</span>
            <span class="time">dle domluvy</span>
            <span class="day">svátky</span>
            <span class="time">nepracuji</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <p class="copyright">© Simona Benešova, <span class="year"></span> </p>
        </p>
      </div>
    </div>
  </div>

</footer>