<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__top-wrapper">
        <div class="footer__info">
          <a class="logo">
            <img src="/img/logo.png" alt="logo">
          </a>
          <address>
            <p class="footer__address">Babice nad Svitavou 316
              <br>
              664 01 Brno
            </p>
          </address>
        </div>
        <div class="footer__contact">
          <h3 class="footer__title">
            Kontakt a objednávky
          </h3>
          <a class="footer__phone" href="tel:+420773682911">Tel.:+420 773 682 911</a>
          <br>
          <a class="footer__email" href="email:objednavky@masazekvam.eu">E-mail:objednavky@masazekvam.eu</a>
        </div>

        <div class="footer__opening-hours">
          <h3 class="footer__title">
            Otevírací doba
          </h3>
          <p class="opening-hours">
            <span class="day">pondělí – neděle</span>
            <span class="time">dle domluvy</span>
            <span class="day">svátky</span>
            <span class="time">nepracuji</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <p class="copyright">© <a href="/_admin" target="_blank">Jiří Ekrt</a>, 2024</p>
        <p class="webdesign">Webové stránky: <a href="https://www.preprint.cz" target="_blank">PrePrint Studio, Brno</a>
        </p>
      </div>
    </div>
  </div>

</footer>