<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-wrapper">
        <a class="logo" href="index.html">
          <img src="/img/logo.png" alt="logo">
        </a>
        <nav class="header__menu">
          <button class="burger menu__btn" data-burger="" aria-label="Открыть меню" aria-expanded="false">
            <span class="burger__line"></span>
          </button>
          <ul class="menu-list" data-menu>
            <li class="menu-item">
              <a class=@index href="index.html">MASÁŽE</a>
            </li>
            <li class="menu-item">
              <a class=@price href="price.html">CENÍK</a>
            </li>
            <li class="menu-item">
              <a class=@contact href="contact.html">KONTAKT</a>
            </li>
          </ul>
        </nav>
        <div class="header__contact">
          <a href="tel:+420777642050">+420 777 642 050</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-wrapper">


        <div class="header__bottom-text">
          <h1 class="header__bottom-title">
            <span> Simona Benešová</span>
            <strong class="header__bottom-subtitle"> Přijedu až k Vám domů.</strong>
          </h1>

          <p class="header__bottom-subtitle">K masáži nic nepotřebujete vše si dovezu.</p>
        </div>
        <div class="header__bottom-decor">
          <picture>
            <source srcset="img/19.webp" type="image/webp">
            <img src="img/19.png" class="image" width="366" height="300" alt="Dekor ze svíček a kamenů na masáž">
          </picture>
        </div>

      </div>
    </div>
  </div>


</header>