<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__top">
        <a class="logo">
          <img src="/img/logo.png" alt="logo">
        </a>
        <nav class="header__menu">
          <button class="burger menu__btn" data-burger="" aria-label="Открыть меню" aria-expanded="false">
            <span class="burger__line"></span>
          </button>
          <ul class="menu-list" data-menu>
            <li class="menu-item">
              <a href="#">MASÁŽE</a>
            </li>
            <li class="menu-item">
              <a href="#">INFO K MASÁŽÍM</a>
            </li>
            <li class="menu-item">
              <a href="#">CENÍK</a>
            </li>
            <li class="menu-item">
              <a href="#">FOTOGALERIE</a>
            </li>
            <li class="menu-item">
              <a href="#">KONTAKT</a>
            </li>
          </ul>
        </nav>
        <div class="header__contact">
          <a href="tel:+420454204778">+420-454-204-778</a>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__bottom-text">
          <h1 class="header__bottom-title">
            Masážní studio – JIRÍ EKRT
            <br>
            ... až k Vám domů
          </h1>
          <p class="header__bottom-sumtitle">- 10% for the first massage session</p>
        </div>
        <div class="header__bottom-decor">
          <picture>
            <source srcset="img/19.webp" type="image/webp">
            <img loading="lazy" src="img/19.png" class="image" width="366" height="300" alt="decor">
          </picture>
        </div>
      </div>
      <div class="about">
        <div class="about__wrapper">
          <h2 class="about__title">Why us?</h2>
          <ul class="about__list">
            <li class="about__item">
              <picture>
                <source srcset="img/about.webp" type="image/webp">
                <img loading="lazy" src="img/about.png" class="image" width="115" height="115" alt="decor">
              </picture>
              <h3 class="about__item-title">Author's Technique</h3>
              <p class="about__item-subtitle">Massage is selected individually for your problem</p>
            </li>
            <li class="about__item">
              <picture>
                <source srcset="img/about.webp" type="image/webp">
                <img loading="lazy" src="img/about.png" class="image" width="115" height="115" alt="decor">
              </picture>
              <h3 class="about__item-title">Author's Technique</h3>
              <p class="about__item-subtitle">Massage is selected individually for your problem</p>
            </li>
            <li class="about__item">
              <picture>
                <source srcset="img/about.webp" type="image/webp">
                <img loading="lazy" src="img/about.png" class="image" width="115" height="115" alt="decor">
              </picture>
              <h3 class="about__item-title">Author's Technique</h3>
              <p class="about__item-subtitle">Massage is selected individually for your problem</p>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</header>