<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-wrapper">
        <a class="logo" href="index.html">
          <img src="/img/logo.png" alt="logo">
        </a>
        <nav class="header__menu">
          <button class="burger menu__btn" data-burger="" aria-label="Открыть меню" aria-expanded="false">
            <span class="burger__line"></span>
          </button>
          <ul class="menu-list" data-menu>
            <li class="menu-item">
              <a href="index.html">MASÁŽE</a>
            </li>
            <li class="menu-item">
              <a href="price.html">CENÍK</a>
            </li>
            <li class="menu-item">
              <a href="contact.html">KONTAKT</a>
            </li>
          </ul>
        </nav>
        <div class="header__contact">
          <a href="tel:+420454204778">+420-454-204-778</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-wrapper">


        <div class="header__bottom-text">
          <h1 class="header__bottom-title">
            Masážní studio – JIRÍ EKRT
            <br>
            ... až k Vám domů
          </h1>
          <p class="header__bottom-sumtitle">- 10% for the first massage session</p>
        </div>


        <div class="header__bottom-decor">
          <picture>
            <source srcset="img/19.webp" type="image/webp">
            <img loading="lazy" src="img/19.png" class="image" width="366" height="300" alt="decor">
          </picture>
        </div>

      </div>
    </div>
  </div>


</header>